 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        
        .container {
            background-color: rgb(71, 241, 113);
            width: 90%;
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            border: black solid 2px;
        }

        
        .profile-header {
            text-align: center;
            color: #003366;
        }

        
        .profile-info {
            display: flex;
            flex-wrap: wrap; 
            align-items: center;
            justify-content: space-around;
            margin-top: 20px;
        }

        .profile-photo {
            width: 150px;
            height: 150px;
            overflow: hidden;
         
        }

        .profile-photo img {
            width: 100%;
            height: 100%;
            object-fit: cover;
             border-radius: 70px;
        }

        .profile-links {
            text-align: center;
            color: #0044ff;
            font-weight: bold;
        }

        .profile-links span {
            margin: 0 8px;
            cursor: pointer;
        }

        h3 {
            text-align: center;
            color: #7300f7;
        }

        
        .schools-grid, .work-experience {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 10px;
            margin-top: 15px;
        }

        .school-item, .work-item {
            background-color: #f0f5ff;
            padding: 10px;
            border-radius: 25px;
        }

       

        
        @media (max-width: 600px) {
            .profile-info {
                flex-direction: column;
            }
            .profile-links {
                margin-top: 10px;
            }
        }
